.navbar, .button.is-success, #submit {
	background-color: #00C944!important;
}

#back {
	padding-left: 20px;
}

.content.navbar-item {
	margin: auto 0;
}

.content h3 {
	margin: auto;
}

.container.is-fluid {
	padding-left: 15px;
	padding-right: 15px;
}

.header-title {
	color: #FFFFFF;
}

.card {
	border-radius: 5px 5px 5px 5px;
}

.box {
	background-color: #00C944;
	border-radius: 5px 5px 0px 0px;
	color:  #D2fbe2;
}

.modal-card {
	width: 90%;
	border-radius: 10px;
}

.modal-card .icon {
	width: 100%;
}
