.navbar {
	background-color: #00C944;
}

#back {
	padding-left: 20px;
}

.content.navbar-item {
	margin: auto 0;
}

.content h3 {
	margin: auto;
}

.container.is-fluid {
	padding-left: 15px;
	padding-right: 15px;
}

.header-title {
	color: #FFFFFF;
}

.button.is-success{
	background-color: #00C944;
}
.card {
	border-radius: 5px 5px 5px 5px;
}

.box {
	background-color: #09aa46;
	border-radius: 5px 5px 0px 0px;
	color:  #D2fbe2;
}

/*.field.addF {
	position: absolute;
	bottom: 10px;
}*/