html, body {
	overflow-y: hidden;
}

#navbar .content {
	position: fixed;
	top: 15px;
	right: 0;
	left: 0;
	margin: auto;
	width: fit-content;
	text-align: center;
	z-index: 31;
}

#navbar .content h4 {
	margin-bottom: 0;
}

p.subtitle.is-5, #avatar {
	margin-left: 5px;
}

.navbar.is-fixed-top {
	box-shadow: 0 3px 15px darkgrey;
	background-color: #00C944;
}

.navbar-brand .navbar-item {
	margin: auto;
	justify-content: center;
}

#avatar img {
	object-fit: cover;
	height: 100%;
	max-height: 100%;
}

.navbar-burger {
	color: white;
}

.navbar-end .navbar-item {
	color: #00C944;
}

.navbar-item.has-dropdown .navbar-link {
	background-color: white;
}

.navbar-item .icon:only-child {
	margin-right: 5px;
	vertical-align: bottom;
}

body, #map-container {
	height: 100%!important;
}

#map {
	background-color: grey;
	width: 100vw;
	height: 100%;
	z-index: 0;
}

#search {
	position: fixed;
	left: 0;
	right: 0;
	top: 75px;
	margin: auto 20px;
	z-index: 2;
}

p.control, .modal-card .icon {
	width: 100%;
}

#btn-search {
	background-color: #00C944;
	color: white;
	width: 50px;
}

#legend {
	margin-right: 5px;
	background-color: rgba(80, 80, 80, 0.8);
	padding: 6px;
	border-radius: 15px;
}

#legend a {
	display: block;
}

#legend a.active img {
	background-color: black;
	opacity: 0.7;
}

#legend img {
	width: 40px;
	height: 40px;
	margin: 2.5px auto;
}

figure.image.is-64x64 {
	height: 80px;
	width: 80px;
}

#center {
	position: sticky;
	bottom: 20px;
	margin: 4% auto;
	z-index: 1;
}

#center:active {
	height: 85px;
	width: 85px;
	margin: 3% auto;
}

#dbscan {
	background-color: #00C944;
	color: white;
	position: sticky;
	bottom: 40px;
	left: 20px;
}

#dbscan.active {
	background-color: white;
	color: #00C944;
}

.card {
	border-radius: 5px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
}

.critical {
	background-color: #4e1e73;
	color: white;
}

.major {
	background-color: #3598db;
	color: white;
}

.moderate {
	background-color: #9E1C21;
	color: white;
}

.light {
	background-color: #e8ca4d;
	color: white; 
}

.resolved {
	background-color: #087F38;
	color: white;
}

.modal-card {
	width: 90%;
	border-radius: 10px;
}

@media only screen and (min-width: 769px) {
	p.control {
		width: 500px;
	}
}