html {
	height: 100vh;
	width: 100vw;
	overflow-y: hidden;
}

body {
	height: 100%;
}

#map-container {
	height: 100%;
}

#map {
	height: 100%;
	background-color: grey;
	width: 100vw;
	z-index: 0;
}

form {
	position: fixed;
	left: 0;
	right: 0;
	top: 75px;
	margin: auto 20px;
	z-index: 1;
}

p.control {
	width: 100%;
}

#btn-search {
	background-color: #00C944;
	color: white;
	width: 50px;
}

.image.is-16x16 {
	margin-top: -15px;
}

#search {
	padding-bottom: 10px;
}

figure.image.is-64x64 {
	height: 80px;
	width: 80px;
}

#center {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 4% auto;
	z-index: 1;
}

#center a {
	cursor: none;
}

#center:active {
	height: 85px;
	width: 85px;
	margin: 3% auto;
}
