html, body {
	max-height: 100vh;
	max-width: 100vw;
}

html {
	height: 100%;
	overflow-y: visible;
}

body.swal2-height-auto {
	height: 100%!important;
}

.introjs-skipbutton {
	display: none!important;
}

#nojs {
	display: none;
}

#nojs .details {
	font-size: 12px;
}