body, .container, .columns {
	height: 99%;
}

.columns:not(:last-child) {
	margin-bottom: 0;
}

.content h1 {
	margin-bottom: 0;
}

.pass-field, .is-rounded {
	width: 100%;
}

#login, #mlogin {
	background-color: #00C944;
}

#col-login {
	padding-right: 0;
}

#col-register {
	padding-left: 0;
}

#mregister, #mlogin {
	width: 90%;
}

#buttons {
	margin-top: 20px;
}

#buttons .level-item{
	margin-bottom: 10px;
}

.footer {
	padding: 0;
	position: sticky;
	top: 100%;
}

.container.is-hidden-tablet {
	padding-top: 8%;
}

@media screen and (max-height: 480px) {
	html {
		height: auto;
	}
}