body, .container, .columns {
	height: 100%;
}

.content h1 {
	margin-bottom: 0;
}

.pass-field, .is-rounded {
	width: 100%;
}

#login, #mlogin {
	background-color: #00C944;
}

#col-login {
	padding-right: 0;
}

#col-register {
	padding-left: 0;
}

#mregister, #mlogin {
	width: 90%;
}

#buttons {
	margin-top: 20px;
}

#buttons .level-item{
	margin-bottom: 10px;
}

.footer {
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0;
	margin-top: 20px;
}

.container.is-hidden-tablet {
	margin-top: 8%;
}

@media screen and (min-width: 1024px) {
	html, body {
		overflow-y: hidden;
	}

	.footer {
		position: fixed;
	}
}
