.navbar {
	background-color: #00C944;
}

#back {
	padding-left: 20px;
}

.content.navbar-item {
	margin: auto 0;
}

.content h3 {
	margin: auto;
}

.tabs li {
	width: 100%;
}

.tabs.is-boxed li.is-active a {
	color: #00C944;
	border-top: 2px solid #00C944;
}

.container.is-fluid {
	padding-left: 15px;
	padding-right: 15px;
}

.box:not(:last-child) {
	margin-bottom: 15px;
}