.navbar {
	background-color: #00C944;
}

#back {
	padding-left: 20px;
}

.content.navbar-item {
	margin: auto 0;
}

.content h3 {
	margin: auto;
}

.tabs {
	position: sticky;
	top: 0;
	padding-top: 5px;
	background-color: white;
	z-index: 5;
}

.tabs li {
	width: 100%;
}

.tabs.is-boxed li.is-active a {
	color: #00C944;
	border-top: 2px solid #00C944;
}

.container.is-fluid {
	padding:  0 15px;
}

.box {
	margin-bottom: 15px;
}

.critical {
	background-color: #4e1e73;
	color: white;
}

.major {
	background-color: #3598db;
	color: white;
}

.moderate {
	background-color: #9E1C21;
	color: white;
}

.light {
	background-color: #e8ca4d;
	color: white; 
}

.resolved {
	background-color: #087F38;
	color: white;
}

figure {
	margin: auto;
	z-index: 1;
	border-radius: 10px;
	border: 1px solid grey;
}

figure img {
	border-radius: 10px;
}

.modal-card {
	width: 90%;
	border-radius: 10px;
}

.modal-card .icon {
	width:  100%;
}