.content {
	position: fixed;
	top: 15px;
	right: 0;
	left: 0;
	margin: auto;
	width: fit-content;
	text-align: center;
	z-index: 31;
}

.content h4 {
	margin-bottom: 0;
}

p.subtitle.is-5, #avatar {
	margin-left: 5px;
}

.navbar.is-fixed-top {
	box-shadow: 0 3px 15px darkgrey;
	background-color: #00C944;
}

.navbar-brand .navbar-item {
	margin: auto;
	justify-content: center;
}

#avatar img {
	object-fit: cover;
	height: 100%;
	max-height: 100%;
}

.navbar-burger {
	color: white;
}

.navbar-end .navbar-item {
	color: #00C944;
}

.navbar-item.has-dropdown .navbar-link {
	background-color: white;
}

.navbar-item .icon:only-child {
	margin-right: 5px;
	vertical-align: bottom;
}