.navbar {
	background-color: #00C944;
}

.navbar.is-fixed-top {
	box-shadow: 0 3px 15px grey;
}

.navbar-brand .navbar-item {
	margin: auto;
	justify-content: center;
}

.content h4 {
	margin-bottom: 0;
	color: white;
}

.navbar-burger {
	color: white;
	margin: 0;
}

.navbar-end .navbar-item {
	color: #00C944;
}

.navbar-end .navbar-item .fas {
	width: 25px;
	text-align: center;
}