body {
  max-height: none;
  height: auto;
}

.navbar {
  background-color: #00C944;
  height: 100px;
  z-index: 0;
}

#back {
  padding-left: 20px;
}

.content.navbar-item {
  margin: auto 0;
}

.content h3 {
  margin: auto;
}

figure {
  top: -50px;
  margin: auto;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid grey;
}

figure img {
  border-radius:10px;
}

#name {
  margin-top: -40px;
}

#name h4 {
  margin-bottom: 0;
}

.tabs {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 5px;
  background-color: white;
  z-index: 5;
}

.tabs li {
  width: 100%;
}

.tabs.is-boxed li.is-active a {
  color: #00C944;
  border-top: 2px solid #00C944;
}

.tabs a {
  display: block;
}

.tabs .icon:first-child, .tabs div:last-child {
  width: 100%;
  margin: auto;
  text-align: center;
}

.container.is-fluid {
  padding-left: 12px;
  padding-right: 12px;
}

#edit {
  color: #00C944;
}

.level-right p {
  max-width: 50vw;
  overflow-wrap: break-word;
  text-align: end;
}

#username-warning {
  margin-left: -50px;
}

#phone-warning {
  margin-left: -62px;
}

.field-body, #actions {
  display: none;
}

#submit {
  background-color: #00C944;
  color: white;
}
