body {
  height: 100%;
}

.navbar {
  background-color: #00C944;
  height: 100px;
  z-index: 0;
}

#back {
  padding-left: 20px;
}

.content h3 {
  margin: auto;
}

figure {
  top: -50px;
  margin: auto;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid grey;
}

#name {
  margin-top: -40px;
}

#name h4 {
  margin-bottom: 0;
}

aside {
  margin-left: 15px;
  margin-top: 10px;
  width: 100%;
}

.menu-list, li {
  width: 100%;
}

.menu-list .icon {
  width: 20px;
  color: #00C944;
}

.menu-list span:nth-child(2) {
  display: inline-block;
  width: 89%;
  padding-bottom: 3px;
  border-bottom: 1px solid lightgrey;
  margin-left: 10px;
}

form {
  position: sticky;
  top: 100%;
}

#logout {
  background-color: #00C944;
  color: white;
}

@media screen and (min-width: 1024px) {
  .navbar-brand {
    height: fit-content;
  }
}