body {
  max-height: none;
  height: auto;
  padding-bottom: 20px;
}

strong {
  color : #FFFFFF;
}

.navbar {
  background-color: #00C944;
  height: 100px;
  z-index: 0;
}

#back {
  padding-left: 20px;
}

.content.navbar-item {
  margin: auto 0;
}

.content h3 {
  margin: auto;
}

figure {
  top: -50px;
  margin: auto;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid grey;
}

figure img {
  border-radius: 10px;
}

#name {
  margin-top: -40px;
}

#name h4 {
  margin-bottom: 0;
}

.tabs {
  position: sticky;
  top: 0;
  padding-top: 5px;
  background-color: white;
  z-index: 5;
}

.tabs li, .modal-card .icon {
  width: 100%;
}

.tabs.is-boxed li.is-active a {
  color: #00C944;
  border-top: 2px solid #00C944;
}

.tabs a {
  display: block;
}

.tabs .icon:first-child, .tabs div:last-child {
  width: 100%;
  margin: auto;
  text-align: center;
}

.container.is-fluid {
  padding-left: 12px;
  padding-right: 12px;
}

#edit {
  color: #00C944;
  text-decoration: none;
}

.level-right p {
  max-width: 50vw;
  overflow-wrap: break-word;
  text-align: end;
}

#username-warning {
  margin-left: -50px;
}

#phone-warning {
  margin-left: -62px;
}

#profile_content .field-body, #actions, #change-pass-form {
  display: none;
}

.button.is-success {
  background-color: #00C944;
  color: white;
}

.card {
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
}

.critical {
  background-color: #4e1e73;
  color: white;
}

.major {
  background-color: #3598db;
  color: white;
}

.moderate {
  background-color: #9E1C21;
  color: white;
}

.light {
  background-color: #e8ca4d;
  color: white; 
}

.resolved {
  background-color: #087F38;
  color: white;
}

.modal-card {
  width: 90%;
  border-radius: 10px;
}

.divider {
  margin: 5px;
}

#avatar img {
  object-fit: cover;
  height: 100%;
}

#avatar .icon {
  position:  absolute;
  top: 70px;
  left: 70px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px 0 8px;
}