html, body {
	overflow-y: overlay;
}

.card {
	width: 30%;
	margin-top: 5%;
}

.pass-field {
	width: 100%;
}

#create, #mcreate {
	background-color: #00C944;
	margin-top: 25px;
	margin-bottom: 10px;
}

.footer {
	margin-top: 20px;
	bottom: 0;
	width: 100%;
	padding: 0;
}

.mtop {
	margin-top: 10%;
	margin-left: 5%;
	margin-right: 5%;
}