body, .columns {
	height: 100%;
}

.column {
	padding-bottom: 0;
}

.container.is-fluid {
	padding-top: 10%;
	height: 100%;
}

.pass-field {
	width: 100%;
}

#card {
	margin-top: 0%;
	border-radius: 25px;
}

#create, #mcreate {
	background-color: #00C944;
	margin-top: 25px;
	margin-bottom: 10px;
}

.footer {
	padding: 0;
	position: sticky;
	top: 100%;
}
